<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
        <th:block th:include="common/include :: header('菜单列表')" />
</head>
<body>
<div class="layuimini-container">
        <div class="layuimini-main">

                <script type="text/html" id="toolbarDemo">
                        <div class="layui-btn-container">
                                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
                                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>
                                <button class="layui-btn layui-btn-sm" lay-event="expand"> 全部展开 </button>
                                <button class="layui-btn layui-btn-sm" lay-event="fold"> 全部折叠 </button>
                        </div>
                </script>

                <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

                <script type="text/html" id="currentTableBar">
                        <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
                        <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
                </script>

        </div>
</div>
<th:block th:include="common/include :: footer" />

<script type="text/html" id="statusTpl">
        <input type="checkbox" lay-filter="status" value="{{d.id}}" lay-skin="switch" lay-text="启用|禁用" {{d.status=='1'?'':'checked'}} />
</script>

<script>
        layui.use(['form', 'table', 'treetable'], function () {
                var $ = layui.jquery,
                        form = layui.form,
                        table = layui.table,
                        treetable = layui.treetable;

                // 渲染表格
                layer.load(2);
                treetable.render({
                        elem: '#currentTableId',
                        url: ctx + 'sysMenu/pageList',
                        treeColIndex: 1,
                        treeSpid: 0,
                        treeIdName: 'code',
                        treePidName: 'parentCode',
                        page: false,
                        toolbar: '#toolbarDemo',
                        cols: [ [
                                {type: "checkbox"},
                                {field: 'name', title: '菜单名称'},
                                {field: 'code', title: '菜单编码'},
                                {field: 'url', title: '菜单url'},
                                {field: 'auth', title: '权限控制'},
                                {field: 'type', title: '菜单类型', templet: function (d) {
                                                if (d.type == '1') {
                                                        return '<span class="layui-badge layui-bg-gray">按钮</span>';
                                                }
                                                if (d.parentCode == '0') {
                                                        return '<span class="layui-badge layui-bg-blue">目录</span>';
                                                } else {
                                                        return '<span class="layui-badge layui-bg-green">菜单</span>';
                                                }
                                        }},
                                {field: 'sort', title: '菜单排序', sort: true},
                                {field: 'status', title: '启用状态', templet: '#statusTpl'},
                                {title: '操作', toolbar: '#currentTableBar', align: "center"}
                        ] ],
                        done: function () {
                                layer.closeAll('loading');
                        }
                });

                /**
                 * toolbar监听事件
                 */
                table.on('toolbar(currentTableFilter)', function (obj) {
                        if (obj.event === 'add') {  // 监听添加操作
                                var index = layer.open({
                                        title: '添加',
                                        type: 2,
                                        shade: 0.2,
                                        maxmin:true,
                                        shadeClose: true,
                                        area: ['100%', '100%'],
                                        content: ctx + 'sysMenu/add',
                                });
                                $(window).on("resize", function () {
                                        layer.full(index);
                                });
                        } else if (obj.event === 'delete') {  // 监听删除操作
                                var checkStatus = table.checkStatus('currentTableId')
                                        , data = checkStatus.data;
                                if(data != null && data.length>0){
                                        layer.confirm('真的删除行么', function (index) {
                                                layer.close(index);

                                                var codes = [];
                                                for(var i=0; i < data.length; i++){
                                                    codes[i] = data[i].code;
                                                }

                                                $.ajax({
                                                        url: ctx + 'sysMenu/batchDelete',
                                                        type: 'POST',
                                                        async: false,
                                                        data: JSON.stringify(codes),
                                                        contentType: 'application/json; charset=UTF-8',
                                                        dataType: "json",
                                                        success: function (res) {
                                                                layer.msg(res.msg);
                                                                window.location.reload();
                                                        },
                                                        error:function (XMLHttpRequest, textStatus, errorThrown) {
                                                                layer.close(index);
                                                                if(XMLHttpRequest.status==404){
                                                                        window.location.href = ctx + "/404";
                                                                }else{
                                                                        layer.msg("服务器好像出了点问题！请稍后试试");
                                                                }
                                                        }
                                                });
                                        });
                                }else{
                                        layer.alert("请先选择行");
                                }
                        } else if (obj.event === 'expand') { // 监听全部展开
                                treetable.expandAll('#currentTableId');
                        } else if (obj.event === 'fold') { // 监听全部折叠
                                treetable.foldAll('#currentTableId');
                        }
                });

                //监听表格复选框选择
                table.on('checkbox(currentTableFilter)', function (obj) {
                        // console.log(obj)
                });

                table.on('tool(currentTableFilter)', function (obj) {
                        var data = obj.data;
                        if (obj.event === 'edit') {

                                var index = layer.open({
                                        title: '编辑',
                                        type: 2,
                                        shade: 0.2,
                                        maxmin:true,
                                        shadeClose: true,
                                        area: ['100%', '100%'],
                                        content: ctx + 'sysMenu/edit/'+data.code,
                                });
                                $(window).on("resize", function () {
                                        layer.full(index);
                                });
                                return false;
                        } else if (obj.event === 'delete') {
                                layer.confirm('真的删除行么', function (index) {
                                        layer.close(index);
                                        $.ajax({
                                                url: ctx + 'sysMenu/delete/'+data.code,
                                                type: 'GET',
                                                async: false,
                                                contentType: 'application/json; charset=UTF-8',
                                                dataType: "json",
                                                success: function (res) {
                                                        layer.msg(res.msg);
                                                        obj.del();
                                                },
                                                error:function (XMLHttpRequest, textStatus, errorThrown) {
                                                        layer.close(index);
                                                        if(XMLHttpRequest.status==404){
                                                                window.location.href = ctx + "404";
                                                        }else{
                                                                layer.msg("服务器好像出了点问题！请稍后试试");
                                                        }
                                                }
                                        });
                                });
                        }
                });

                form.on('switch(status)', function (obj) {
                        var checked = this.checked ? "0" : "1";
                        $.ajax({
                                url: ctx + 'sysMenu/switchStatus',
                                type: 'POST',
                                async: false,
                                data: {
                                        "code" : obj.value,
                                        "status" : checked
                                },
                                dataType: "json",
                                success: function (res) {
                                        layer.msg(res.msg);
                                },
                                error:function (XMLHttpRequest, textStatus, errorThrown) {
                                        if(XMLHttpRequest.status==404){
                                                window.location.href = ctx + "404";
                                        }else{
                                                layer.msg("服务器好像出了点问题！请稍后试试");
                                        }
                                }
                        });
                });
        });
</script>