<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.plgxs.mbg.mapper.sys.SysDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.plgxs.mbg.entity.sys.SysDept">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="ancestors" property="ancestors" />
        <result column="dept_name" property="deptName" />
        <result column="sort" property="sort" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="status" property="status" />
        <result column="is_deleted" property="isDeleted" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, ancestors, dept_name, sort, gmt_create, gmt_modified, status, is_deleted, remark
    </sql>

    <select id="selectSysDeptList" parameterType="top.plgxs.mbg.entity.sys.SysDept" resultType="top.plgxs.mbg.entity.sys.SysDept">
        select <include refid="Base_Column_List"/>
        from t_sys_dept t
        where 1 = 1
            <if test="id != null and id != ''">
                and t.id = #{id}
            </if>
            <if test="parentId != null and parentId != ''">
                and t.parent_id = #{parentId}
            </if>
            <if test="ancestors != null and ancestors != ''">
                and t.ancestors = #{ancestors}
            </if>
            <if test="deptName != null and deptName != ''">
                and t.dept_name = #{deptName}
            </if>
            <if test="sort != null">
                and t.sort = #{sort}
            </if>
            <if test="gmtCreate != null">
                and t.gmt_create = #{gmtCreate}
            </if>
            <if test="gmtModified != null">
                and t.gmt_modified = #{gmtModified}
            </if>
            <if test="status != null and status != ''">
                and t.status = #{status}
            </if>
            <if test="isDeleted != null and isDeleted != ''">
                and t.is_deleted = #{isDeleted}
            </if>
            <if test="remark != null and remark != ''">
                and t.remark = #{remark}
            </if>
    </select>

    <select id="layuiTree" resultType="top.plgxs.common.core.api.node.LayuiTreeNode">
        select id as `id`, parent_id as `pid`, dept_name as `title`,
            (CASE
                when status = '1' then true
                else false
            end ) as `disabled`,
            (CASE
                WHEN (parent_id = '0' OR parent_id IS NULL) THEN 'true'
                ELSE 'false'
            END ) as `spread`
        from t_sys_dept
        where is_deleted = '0'
    </select>
</mapper>