<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/include :: header('新增用户')"/>
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
                <div class="layui-form-item">
                    <label class="layui-form-label required">用户名</label>
                    <div class="layui-input-block">
                        <input type="text" name="username" lay-verify="required"
                               lay-reqtext="用户名不能为空" placeholder="请输入用户名" value=""
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">密码</label>
                    <div class="layui-input-block">
                        <input type="text" name="password" lay-verify="required"
                               lay-reqtext="密码不能为空" placeholder="请输入密码" value=""
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">手机号</label>
                    <div class="layui-input-block">
                        <input type="text" name="mobile" lay-verify="required"
                               lay-reqtext="手机号不能为空" placeholder="请输入手机号" value=""
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">邮箱</label>
                    <div class="layui-input-block">
                        <input type="text" name="email" lay-verify="required"
                               lay-reqtext="邮箱不能为空" placeholder="请输入邮箱" value=""
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">昵称</label>
                    <div class="layui-input-block">
                        <input type="text" name="nickname" lay-verify="required"
                               lay-reqtext="昵称不能为空" placeholder="请输入昵称" value=""
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">性别</label>
                    <div class="layui-input-block">
                        <input type="text" name="gender" lay-verify="required"
                               lay-reqtext="性别不能为空" placeholder="请输入性别" value=""
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">真实姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="realname" lay-verify="required"
                               lay-reqtext="真实姓名不能为空" placeholder="请输入真实姓名" value=""
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">身份证号</label>
                    <div class="layui-input-block">
                        <input type="text" name="idNumber" lay-verify="required"
                               lay-reqtext="身份证号不能为空" placeholder="请输入身份证号" value=""
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">头像</label>
                    <div class="layui-input-block">
                        <input type="text" name="headUrl" lay-verify="required"
                               lay-reqtext="头像不能为空" placeholder="请输入头像" value=""
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">登录次数</label>
                    <div class="layui-input-block">
                        <input type="text" name="loginNumber" lay-verify="required"
                               lay-reqtext="登录次数不能为空" placeholder="请输入登录次数" value=""
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">最后登录时间</label>
                    <div class="layui-input-block">
                        <input type="text" name="lastLoginTime" lay-verify="required"
                               lay-reqtext="最后登录时间不能为空" placeholder="请输入最后登录时间" value=""
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">手机验证码</label>
                    <div class="layui-input-block">
                        <input type="text" name="mobileVerificationCode" lay-verify="required"
                               lay-reqtext="手机验证码不能为空" placeholder="请输入手机验证码" value=""
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">邮箱验证码</label>
                    <div class="layui-input-block">
                        <input type="text" name="emailVerificationCode" lay-verify="required"
                               lay-reqtext="邮箱验证码不能为空" placeholder="请输入邮箱验证码" value=""
                               class="layui-input">
                    </div>
                </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<th:block th:include="common/include :: footer"/>

<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.ajax({
                url: ctx + 'sysUser/insert',
                type: 'POST',
                async: false,
                contentType: 'application/json; charset=UTF-8',
                dataType: "json",
                data: JSON.stringify(data.field),
                success: function (res) {
                    var index = layer.alert(res.msg, {
                        title: '提示信息'
                    }, function () {
                        // 重新加载列表
                        window.parent.location.reload();
                        // 关闭弹出层
                        layer.close(index);
                        var iframeIndex = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(iframeIndex);
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.close(index);
                    if (XMLHttpRequest.status == 404) {
                        window.location.href = "404";
                    } else {
                        layer.msg("服务器好像出了点问题！请稍后试试");
                    }
                }
            });

            return false;
        });

    });
</script>