<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
        <th:block th:include="common/include :: header('用户列表')" />
</head>
<body>
<div class="layuimini-container">
        <div class="layuimini-main">

                <fieldset class="table-search-fieldset">
                        <legend>搜索信息</legend>
                        <div style="margin: 10px 10px 10px 10px">
                                <form class="layui-form layui-form-pane" action="">
                                        <div class="layui-form-item">
                                                <div class="layui-inline">
                                                        <label class="layui-form-label">查询条件</label>
                                                        <div class="layui-input-inline">
                                                                <input type="text" name="name" autocomplete="off" class="layui-input">
                                                        </div>
                                                </div>
                                                <div class="layui-inline">
                                                        <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                                                </div>
                                        </div>
                                </form>
                        </div>
                </fieldset>

                <script type="text/html" id="toolbarDemo">
                        <div class="layui-btn-container">
                                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
                                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>
                        </div>
                </script>

                <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

                <script type="text/html" id="currentTableBar">
                        <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
                        <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
                </script>

        </div>
</div>
<th:block th:include="common/include :: footer" />

<script>
        layui.use(['form', 'table'], function () {
                var $ = layui.jquery,
                        form = layui.form,
                        table = layui.table;

                table.render({
                        elem: '#currentTableId',
                        url: ctx + 'sysUser/pageList',
                        toolbar: '#toolbarDemo',
                        defaultToolbar: ['filter', 'exports', 'print', {
                                title: '提示',
                                layEvent: 'LAYTABLE_TIPS',
                                icon: 'layui-icon-tips'
                        }],
                        parseData: function(res){
                                return res.data;
                        },
                        cols: [ [
                                {type: "checkbox", width: 50},
                                {field: 'id', width: 80, title: 'ID', sort: true},
                                {field: 'username', width: 80, title: '用户名', sort: true},
                                {field: 'password', width: 80, title: '密码', sort: true},
                                {field: 'mobile', width: 80, title: '手机号', sort: true},
                                {field: 'email', width: 80, title: '邮箱', sort: true},
                                {field: 'nickname', width: 80, title: '昵称', sort: true},
                                {field: 'gender', width: 80, title: '性别', sort: true},
                                {field: 'realname', width: 80, title: '真实姓名', sort: true},
                                {field: 'idNumber', width: 80, title: '身份证号', sort: true},
                                {field: 'headUrl', width: 80, title: '头像', sort: true},
                                {field: 'loginNumber', width: 80, title: '登录次数', sort: true},
                                {field: 'lastLoginTime', width: 80, title: '最后登录时间', sort: true},
                                {field: 'mobileVerificationCode', width: 80, title: '手机验证码', sort: true},
                                {field: 'emailVerificationCode', width: 80, title: '邮箱验证码', sort: true},
                                {field: 'gmtCreate', width: 80, title: '注册时间', sort: true},
                                {field: 'gmtModified', width: 80, title: '更新时间', sort: true},
                                {field: 'status', width: 80, title: '启用状态', sort: true},
                                {field: 'isDeleted', width: 80, title: '删除状态', sort: true},
                                {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
                        ] ],
                        limits: [10, 15, 20, 25, 50, 100],
                        limit: 15,
                        page: true,
                        skin: 'line'
                });

                // 监听搜索操作
                form.on('submit(data-search-btn)', function (data) {
                        var result = JSON.stringify(data.field);
                        /*layer.alert(result, {
                                title: '最终的搜索信息'
                        });*/

                        //执行搜索重载
                        table.reload('currentTableId', {
                                page: {
                                        curr: 1
                                }
                                , where: {
                                        searchParams: result
                                }
                        }, 'data');

                        return false;
                });

                /**
                 * toolbar监听事件
                 */
                table.on('toolbar(currentTableFilter)', function (obj) {
                        if (obj.event === 'add') {  // 监听添加操作
                                var index = layer.open({
                                        title: '添加',
                                        type: 2,
                                        shade: 0.2,
                                        maxmin:true,
                                        shadeClose: true,
                                        area: ['100%', '100%'],
                                        content: ctx + 'sysUser/add',
                                });
                                $(window).on("resize", function () {
                                        layer.full(index);
                                });
                        } else if (obj.event === 'delete') {  // 监听删除操作
                                var checkStatus = table.checkStatus('currentTableId')
                                        , data = checkStatus.data;
                                if(data != null && data.length>0){
                                        layer.confirm('真的删除行么', function (index) {
                                                layer.close(index);

                                                var ids = [];
                                                for(var i=0; i < data.length; i++){
                                                        ids[i] = data[i].id;
                                                }

                                                $.ajax({
                                                        url: ctx + 'sysUser/batchDelete',
                                                        type: 'POST',
                                                        async: false,
                                                        data: JSON.stringify(ids),
                                                        contentType: 'application/json; charset=UTF-8',
                                                        dataType: "json",
                                                        success: function (res) {
                                                                layer.msg(res.msg);
                                                                obj.del();
                                                        },
                                                        error:function (XMLHttpRequest, textStatus, errorThrown) {
                                                                layer.close(index);
                                                                if(XMLHttpRequest.status==404){
                                                                        window.location.href = ctx + "/404";
                                                                }else{
                                                                        layer.msg("服务器好像出了点问题！请稍后试试");
                                                                }
                                                        }
                                                });
                                        });
                                }else{
                                        layer.alert("请先选择行");
                                }
                        }
                });

                //监听表格复选框选择
                table.on('checkbox(currentTableFilter)', function (obj) {
                        console.log(obj)
                });

                table.on('tool(currentTableFilter)', function (obj) {
                        var data = obj.data;
                        if (obj.event === 'edit') {

                                var index = layer.open({
                                        title: '编辑',
                                        type: 2,
                                        shade: 0.2,
                                        maxmin:true,
                                        shadeClose: true,
                                        area: ['100%', '100%'],
                                        content: ctx + 'sysUser/edit/'+data.id,
                                });
                                $(window).on("resize", function () {
                                        layer.full(index);
                                });
                                return false;
                        } else if (obj.event === 'delete') {
                                layer.confirm('真的删除行么', function (index) {
                                        layer.close(index);
                                        $.ajax({
                                                url: ctx + 'sysUser/delete/'+data.id,
                                                type: 'GET',
                                                async: false,
                                                contentType: 'application/json; charset=UTF-8',
                                                dataType: "json",
                                                success: function (res) {
                                                        layer.msg(res.msg);
                                                        obj.del();
                                                },
                                                error:function (XMLHttpRequest, textStatus, errorThrown) {
                                                        layer.close(index);
                                                        if(XMLHttpRequest.status==404){
                                                                window.location.href="404";
                                                        }else{
                                                                layer.msg("服务器好像出了点问题！请稍后试试");
                                                        }
                                                }
                                        });
                                });
                        }
                });

        });
</script>