<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.plgxs.mbg.mapper.sys.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.plgxs.mbg.entity.sys.SysMenu">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="parent_code" property="parentCode" />
        <result column="menu_name" property="menuName" />
        <result column="menu_url" property="menuUrl" />
        <result column="menu_auth" property="menuAuth" />
        <result column="menu_target" property="menuTarget" />
        <result column="menu_icon" property="menuIcon" />
        <result column="menu_type" property="menuType" />
        <result column="ancestors" property="ancestors" />
        <result column="sort" property="sort" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="status" property="status" />
        <result column="is_deleted" property="isDeleted" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, parent_code, menu_name, menu_url, menu_auth, menu_target, menu_icon, menu_type, ancestors, sort, gmt_create, gmt_modified, status, is_deleted, remark
    </sql>

    <select id="selectSysMenuList" parameterType="top.plgxs.mbg.entity.sys.SysMenu" resultType="top.plgxs.mbg.entity.sys.SysMenu">
        select <include refid="Base_Column_List"/>
        from t_sys_menu t
        where 1 = 1
            <if test="id != null and id != ''">
                and t.id = #{id}
            </if>
            <if test="code != null and code != ''">
                and t.code = #{code}
            </if>
            <if test="parentCode != null and parentCode != ''">
                and t.parent_code = #{parentCode}
            </if>
            <if test="menuName != null and menuName != ''">
                and t.menu_name = #{menuName}
            </if>
            <if test="menuUrl != null and menuUrl != ''">
                and t.menu_url = #{menuUrl}
            </if>
            <if test="menuAuth != null and menuAuth != ''">
                and t.menu_auth = #{menuAuth}
            </if>
            <if test="menuTarget != null and menuTarget != ''">
                and t.menu_target = #{menuTarget}
            </if>
            <if test="menuIcon != null and menuIcon != ''">
                and t.menu_icon = #{menuIcon}
            </if>
            <if test="menuType != null and menuType != ''">
                and t.menu_type = #{menuType}
            </if>
            <if test="ancestors != null and ancestors != ''">
                and t.ancestors = #{ancestors}
            </if>
            <if test="sort != null">
                and t.sort = #{sort}
            </if>
            <if test="gmtCreate != null">
                and t.gmt_create = #{gmtCreate}
            </if>
            <if test="gmtModified != null">
                and t.gmt_modified = #{gmtModified}
            </if>
            <if test="status != null and status != ''">
                and t.status = #{status}
            </if>
            <if test="isDeleted != null and isDeleted != ''">
                and t.is_deleted = #{isDeleted}
            </if>
            <if test="remark != null and remark != ''">
                and t.remark = #{remark}
            </if>
    </select>

    <select id="menuTreeList" resultType="top.plgxs.common.node.ZTreeNode">
        SELECT
           t.code AS id,
           t.parent_code AS pId,
           t.menu_name AS name,
           (CASE WHEN (t.parent_code = '0') THEN 'true' ELSE 'false' END) AS "open"
        FROM t_sys_menu t
        where t.is_deleted = '0'
        ORDER BY t.sort, t.gmt_create ASC
    </select>

    <select id="getChildMenusByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM t_sys_menu
        <where>
            is_deleted = '0'
            and ancestors LIKE CONCAT('%[',#{code},'],%')
        </where>
    </select>
</mapper>