<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.plgxs.mbg.mapper.sys.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.plgxs.mbg.entity.sys.SysRole">
        <id column="id" property="id" />
        <result column="role_name" property="roleName" />
        <result column="role_code" property="roleCode" />
        <result column="sort" property="sort" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="status" property="status" />
        <result column="is_deleted" property="isDeleted" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_name, role_code, sort, gmt_create, gmt_modified, status, is_deleted, remark
    </sql>

    <select id="selectSysRoleList" parameterType="top.plgxs.mbg.entity.sys.SysRole" resultType="top.plgxs.mbg.entity.sys.SysRole">
        select <include refid="Base_Column_List"/>
        from t_sys_role t
        where 1 = 1
            <if test="id != null and id != ''">
                and t.id = #{id}
            </if>
            <if test="roleName != null and roleName != ''">
                and t.role_name = #{roleName}
            </if>
            <if test="roleCode != null and roleCode != ''">
                and t.role_code = #{roleCode}
            </if>
            <if test="sort != null">
                and t.sort = #{sort}
            </if>
            <if test="gmtCreate != null">
                and t.gmt_create = #{gmtCreate}
            </if>
            <if test="gmtModified != null">
                and t.gmt_modified = #{gmtModified}
            </if>
            <if test="status != null and status != ''">
                and t.status = #{status}
            </if>
            <if test="isDeleted != null and isDeleted != ''">
                and t.is_deleted = #{isDeleted}
            </if>
            <if test="remark != null and remark != ''">
                and t.remark = #{remark}
            </if>
    </select>

    <select id="roleTreeList" resultType="top.plgxs.common.node.ZTreeNode">
        SELECT
           t.id AS `id`,
           t.role_name AS `name`,
           ( case when t.status = '1' then true else false end ) as `chkDisabled`
        FROM t_sys_role t
        where t.is_deleted = '0'
        ORDER BY t.priority ASC
    </select>
</mapper>